# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
!aws_keys.tfvars.example

# SSH Keys
*.pem

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
dataset/
src/models/*.h5
